<!DOCTYPE html>

<%- include('head'); %>

<body>

     <section class="area-games">
        <div class="box-game" style="background:blue; width:100px; height:100px"></div>
        <div class="box-game"></div>
        <div class="box-game"></div>

     </section>


</body>


</html>