<!DOCTYPE html>
<html lang="p-t">
    <%- include('head'); %>
    <body>

    <%- include('header'); %>

    <section class="section-1">

        <article class="title">If you fall asleep<br> now, you will dream.<br> If you study now, you <br>will live your dream.
        <p class="p-t">It's Ready?</p></article>
        <article>
            <img src="../public/assets/foto_crianca.jpg" class="img-crianca">
        </article>

    </section>

    <section class="section-2">
        <article class="article-1" style="background:rgb(72, 197, 206)">Learning<i class="bi bi-book"></i></article>

        <article class="article-1" style="background:#f0cc04">Philosophy<i class="bi bi-lightbulb"></i></article>

        <article class="article-1" style="background:#fa51a5">Practice<i class="bi bi-command"></i></article>

        <article class="article-1" style="background:#3547ec"><a href="/games" style="color:inherit; text-decoration:none">Games</a><i class="bi bi-puzzle-fill"></i></article>
    </section>

    <section class="section-3"></section>

</body>
</html>