<!DOCTYPE html>

<%- include('head'); %>

<body>
    <%- include('header'); %>

    <section class="section-store">
        <div class="card mb-3 cardMaterial">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../public/assets/material.jpg" class="img-fluid rounded-start" alt="..." style="width:335px;height:225px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEACHING MATERIAL 1ST YEAR</h5>
                  <p class="card-text">Produced in the light of the vision of the world, our books meet the learning objectives of the National Common Curricular Base, which are intertwined with the structuring axes of the Curricular References for Early Childhood Education.</p>
                  <p class="card-text value">$1.750</p>
                  <span type="button" class="add-cart">PURCHASE</span>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-3 cardMaterial">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../public/assets/material5.jpg" class="img-fluid rounded-start" alt="..." style="width:335px;height:225px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEACHING MATERIAL 2ST YEAR</h5>
                  <p class="card-text">Produced in the light of the vision of the world, our books meet the learning objectives of the National Common Curricular Base, which are intertwined with the structuring axes of the Curricular References for Early Childhood Education.</p>
                  <p class="card-text value">$2.000</p>
                  <span type="button" class="add-cart">PURCHASE</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 cardMaterial" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../public/assets/material4.jpg" class="img-fluid rounded-start" alt="..." style="width:335px;height:225px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEACHING MATERIAL 3ST YEAR</h5>
                  <p class="card-text">Produced in the light of the vision of the world, our books meet the learning objectives of the National Common Curricular Base, which are intertwined with the structuring axes of the Curricular References for Early Childhood Education.</p>
                  <p class="card-text value">$2.250</p>
                  <span type="button" class="add-cart">PURCHASE</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 cardMaterial">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../public/assets/material2.jpg" class="img-fluid rounded-start" alt="..." style="width:335px;height:225px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEACHING MATERIAL 4ST YEAR</h5>
                  <p class="card-text">Produced in the light of the vision of the world, our books meet the learning objectives of the National Common Curricular Base, which are intertwined with the structuring axes of the Curricular References for Early Childhood Education.</p>
                  <p class="card-text value">$2.500</p>
                  <span type="button" class="add-cart">PURCHASE</span>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 cardMaterial">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../public/assets/material3.jpg" class="img-fluid rounded-start" alt="..." style="width:335px;height:225px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEACHING MATERIAL 5ST YEAR</h5>
                  <p class="card-text">Produced in the light of the vision of the world, our books meet the learning objectives of the National Common Curricular Base, which are intertwined with the structuring axes of the Curricular References for Early Childhood Education.</p>
                  <p class="card-text value">$2.750</p>
                  <span type="button" class="add-cart">PURCHASE</span>
                </div>
              </div>
            </div>
          </div>
        
        
    </section>
    <footer class="footer-material">
        <div class="card cardFooter" style="width: 16rem; height:20rem; ">
            <img src="../public/assets/book.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The benefits of reading</h5>
              <p class="card-text txt-footer">In addition to all their imagination, creativity and energy, the little ones also start to indicate their own preferences more clearly.</p>
              
            </div>
          </div>


          <div class="card cardFooter" style="width: 16rem; height:20rem;">
            <img src="../public/assets/time.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">study routine</h5>
              <p class="card-text txt-footer">Introduce organization habits for the little ones, make their day-to-day easier. The action serves for learning, which will be developed for adult life.</p>
              
            </div>
          </div>


          <div class="card cardFooter" style="width: 16rem; height:20rem;">
            <img src="../public/assets/alfabetizacao.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">literacy phase</h5>
              <p class="card-text txt-footer">Schools gradually start letters and syllables in early childhood education, and more systematic literacy around age 6, and it is important to remember that each child has their own rhythm.</p>
              
            </div>
          </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>